.Question {
	@extend .Container;
	@extend .Main;

	position: relative;

	&__Image {
		figure {
			position: relative;
			width: 100%;
			padding-bottom: 75%;
			margin: 0;
		}

		img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	button {
		display: inline-block;
		height: 1.5rem;
		width: 1.5rem;
		margin-left: 0.25rem;
		margin-right: 0.25rem;

		background: none;
		border: none;

		cursor: pointer;
		&:disabled {
			cursor: unset;
		}
	}

	&__Letters,
	&__Choices {
		display: flex;
		justify-content: center;
	}

	&__Letters {
		padding-top: 2rem;
		flex-wrap: wrap;

		button {
			height: 2rem;
			width: 2rem;
			margin-bottom: 0.5rem;
			background-color: $complimentary-1;
			border-radius: 4px;

			&:disabled {
				opacity: 0;
			}
		}
	}

	&__Choices {
		margin-top: 2.5rem;
		padding-bottom: 2rem;

		button {
			background-color: $secondary;
			color: $white;

			&:disabled {
				background-color: $white;
				border: 1px solid $secondary;
			}
		}
	}

	&__Feedback {
		visibility: hidden;
		position: absolute;
		z-index: 1;
		top: calc(#{$topbar-height} + 4rem);
		left: 50%;
		min-width: 300px;
		padding: 2rem;

		transform: translate(-50%, -75%);

		text-align: center;
		background-color: $light;
		border-radius: 7px;

		opacity: 0;
		transition: all .5s;

		&.show {
			visibility: visible;
			opacity: 1;
			transform: translate(-50%, -50%);
		}

		h2 {
			margin-top: 0;
			margin-bottom: 2rem;
		}

		button {
			width: auto;
			background-color: $primary;
			border-radius: 2rem;
			color: $white;
			min-width: 100px;
			font-weight: bold;
		}
	}
}