.List {
	&__Topbar {
		@extend .Topbar;
	}

	&__Main{
		@extend .Container;
		@extend .Main;
		display: flex;
		flex-direction: column;
	}

	&__Button {
		@extend .ListButton;
	}

	&__ButtonTitle {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}