.List {
	position: relative;
	max-width: $container-max-width;
	margin: auto;

	min-height: 800px;
	background-color: $light;

	header {
		display: flex;
		align-items: center;
		height: 60px;
		background-color: $secondary;
		color: $white;

		div,
		h1 {
			flex: 1;
		}

		h1 {
			text-align: center;
			margin: 0;
		}
	}
}