//
// Template
//
$container-max-width: 768px;
$topbar-height: 60px;
$gutter-width: 32px;

//
// Colors
//
$primary: #349fa4;
$secondary: #dc9779;
$complimentary-1: #94bcbc;
$light: #f6f7f1;
$white: #ffffff;
$gray: #e1e1e1;

$danger: #FD475D;

//
// Fonts
//
$font-family-sans-serif: 'OpenSans', sans-serif;
$font-family-buttons: $font-family-sans-serif;

$headings-font-weight: 700;

$h1-font-size: 2rem;
$h2-font-size: 2rem;
$h3-font-size: 2rem;
$h4-font-size: 2rem;
$h5-font-size: 2rem;
$h6-font-size: 2rem;