//
// Template
//
$container-max-width: 768px;
$topbar-height: 60px;
$gutter-width: 32px;

//
// Colors
//
$primary: #349fa4;
$secondary: #dc9779;
$complimentary-1: #94bcbc;
$light: #f6f7f1;
$white: #ffffff;
$gray: #e1e1e1;